/*

# Colors
## Purple
#e7daff - light
#957fd7 - medium
#6251a7 - dark
#473774 - border

*/
html, body, #root, .App {
  width: 100%;
  height: 100%;
}

.App {
  position: relative;
}

html body #root {
  font-family: 'Francois One', sans-serif;
  overflow: hidden;
}

/* Header */
.btnMenu {
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
}

.shellTimer {
  position: absolute;
  width: 180px;
  height: 160px;
  right: 0;
  top: 0;
}
.timerOverlay {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 140px;
  height: 140px;
  z-index: 10;
}
.timerFills {
  position: absolute;
  opacity: 0.8;
  top: 12px;
  right: -5px;
  fill: #ff1515;
  width: 147px;
  height: 147px;
}

header {
  position: absolute;
  background: #957fd7;
  z-index: 100;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 3px solid #473774;
}

.condition {

}

.condition li {
  display: inline-block;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 5px;
}

.timer {
  border: 3px solid #473774;
  padding: 10px;
  position: absolute;
  right: -40px;
  top: -80px;
  width: 200px;
  background: #957fd7;
  height: 200px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}
.timeText {
  position: absolute;
  right: 0;
  top: 66px;
  width: 163px;
  text-align: center;
  color: white;
  z-index: 100;
  opacity: 0.8;
}

.art {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #473774;
  padding: 5px;
  height: 40px;
  background: #957fd7;
}

.choice-box {
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: 20px;
  right: auto;
  background-color: #e7daff;
  border: 3px solid #473774;
  padding: 5px;
}

.choices {
  text-align: center;
  padding: 15px 0 5px 0;
  margin-bottom: -30px;
}
.choice {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 2px 10px;
}
.choice .text {
  position: absolute;
  width: 100%;
  padding: 9px;
  left: 0;
  color: white;
}
.choice img {
  width: 100px;
}

.modals {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: #e7daff;
  border-radius: 5px;
  border: 4px solid #473774;
  z-index: 100;
}

.modal .btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  cursor: pointer;
}

.modal h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

.modal li {
  margin: 5px 10px;
  padding: 5px;
  border: 1px solid black;
}

h1.title {
  font-style: italic;
  position: absolute;
  color: white;
  margin: 12px 58px;
  font-size: 29px;
}
